# Virtual environment
venv/

# Local authentication data
users.txt
passwords.txt
locked_accounts.txt
restricted.txt

# Payment data
payments.txt

# Local application history
bmi_history.txt

# Python cache
__pycache__/
*.pyc

# VS Code local settings
.vscode/
# Generated logs
*.log

# Password manager local data
level-04/password_generator/password_manager_project/vault.enc
level-04/password_generator/password_manager_project/history.json
